{% extends "./base.html" %}

{% block title %} Gestion de formularios {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 "> 
        <h2> Gestión de Solicitudes</h2>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" name="txtCodigo" id="txtCodigo" class="form-control" 
                        placeholder="Código" minlength="1" maxlength="6" required>

                    </div>
                    <div class="form-group">
                        <input type="text" name="txtTipo" id="txtTipo" class="form-control" 
                        placeholder="Tipo"  maxlength="30" required>
                        
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtDescripcion" id="txtDescripcion" class="form-control" 
                        placeholder="Descripcion"  maxlength="500" required>
                        
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 "> 
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Tipo solicitud</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in solicitudes %}
                    <tr>
                        <td>{{c.id}}</td>
                        <td>{{c.tipo}}</td>
                        <td>{{c.descripcion}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}